$baseline: 1.5rem;
$margin-inline: 30%;

$background: hsl(210, 25%, 8%);
$color: #c5c5c5;

$h1_color: #85C5C5;
$h2_color: $color;
$h3_color: #999;

$heading_size_top: 3em;
$heading_size_ratio: 0.5;

$links: #ccf;
$hover-links: #fff;
$visited-links: #aaf;

$font-size: 1.125rem;
$font-family: Segoe UI, system-ui, -apple-system, sans-serif;
$line-height: 1.75;

$code_font: 400 1.125rem/1.75 SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
$inline-code-background: #4b4c4e; // Set to same color set in HTML for pre
$code-color: #95adbd;

$quote-bg: #51535e;
$quote-border: #808080 8px solid;