$baseline: 1.5rem;

$background: hsl(210, 25%, 8%);
$color: #c5c5c5;

$links: #ccf;
$hover-links: #fff;
$visited-links: #aaf;

$font-size: 1.125rem;
$font-family: Segoe UI, system-ui, -apple-system, sans-serif;
$line-height: 1.75;

$code_font: 400 1.125rem/1.75 SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
$inline-code-background: #2b303b; // Set to same color set in HTML for pre
$code-color: #889ca9;

$quote-bg: #dcdcdc;
$quote-border: #808080 8px solid;